In [7]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup

## Youtube API

In [279]:
token = <put your token here>

In [ ]:
'https://www.youtube.com/user/AdeleVEVO/videos'

1. Get channel ID by username

In [283]:
channel_name = 'AdeleVEVO'

url = 'https://www.googleapis.com/youtube/v3/channels'

params = {'part': 'snippet',
          'forUsername': channel_name,
          'key': token}

In [286]:
response = requests.get(url, params)
print(response.status_code)

200

In [288]:
response.json()['items'][0]['id']

'UComP_epzeKzvBX156r6pm1Q'

2. Get all videos by channel ID

In [289]:
channelId = response.json()['items'][0]['id']

In [315]:
url = "https://www.googleapis.com/youtube/v3/search"

In [327]:
params = {'part': 'snippet',
          'channelId': channelId,
          'maxResults': 20,
          'key': token,
          'order': 'date',
          'type': 'video'}

In [328]:
response = requests.get(url, params=params)
print(response.status_code)

200

In [329]:
videos = {}

In [330]:
for el in response.json()['items']:
    video_title = el['snippet']['title']
    video_id = el['id']['videoId']
    videos[video_title] = video_id
    print(video_title)

Adele - Send My Love (To Your New Lover)
Adele - When We Were Young - Live at The BRIT Awards 2016
Adele - When We Were Young (Live on SNL)
Adele - When We Were Young (Live at The Church Studios)
Adele - Hello (Live at the NRJ Awards)
Adele - Hello
Adele - Skyfall (Lyric Video)
Adele - Turning Tables (Live at The Royal Albert Hall)
Adele - Set Fire To The Rain (Live at The Royal Albert Hall)
Adele - Someone Like You (Official Music Video)
Adele - Make You Feel My Love (Live on Letterman)
Adele - Hometown Glory (Live on Letterman)
Adele - Don&#39;t You Remember (Live at Largo)
Adele - Someone Like You (Live at Largo)
Adele - Adele&#39;s 21: The Inspiration - Part 3
Adele - Turning Tables (Live at Largo)
Adele - Adele&#39;s 21: The Inspiration - Part 2
Adele - Adele&#39;s 21: The Inspiration - Part 1
Adele - Someone Like You (Live in Her Home)
Adele - Rolling In The Deep (Live at Largo)

In [331]:
len(videos)

20

In [332]:
response.json()['nextPageToken']

'CBQQAA'

In [333]:
params['pageToken'] = response.json()['nextPageToken']

In [334]:
response = requests.get(url, params=params)
print(response.status_code)

200

In [335]:
# response.json()['nextPageToken']

In [336]:
for el in response.json()['items']:
    video_title = el['snippet']['title']
    video_id = el['id']['videoId']
    videos[video_title] = video_id
    print(video_title)

Adele - Rolling in the Deep (Official Music Video)
Adele - Chasing Pavements
Adele - Hometown Glory

3. Get like count by video

In [337]:
url = "https://www.googleapis.com/youtube/v3/videos"

In [363]:
params = {'part': 'snippet,statistics',
          # 'id': video_id,
          'id': ','.join(videos.values()),
          'key': token}

In [364]:
response = requests.get(url, params=params)
print(response.status_code)

200

In [365]:
len(response.json()['items'])

23

In [357]:
response.json()['items'][0]['statistics']

{'viewCount': '653800681',
 'likeCount': '4001638',
 'dislikeCount': '135036',
 'favoriteCount': '0',
 'commentCount': '150325'}

In [1]:
columns = ['name', 'viewCount', 'likeCount', 'dislikeCount', 'favoriteCount', 'commentCount']
data = []

for el in response.json()['items']:
    row = [el['snippet']['title'], list(map(lambda x: float(x) *el['statistics'].values()))]
    data.append(row)
    # print(el['snippet']['title'])

In [374]:
import pandas as pd

In [375]:
df = pd.DataFrame(data=data, columns=columns)

In [440]:
df

,name,viewCount,likeCount,dislikeCount,favoriteCount,commentCount,LikeToViewRatio
0,Adele - Send My Love (To Your New Lover),653800681,4001641,135036,0,150325,0.006121
1,Adele - When We Were Young - Live at The BRIT ...,45375477,493712,12692,0,14753,0.010881
2,Adele - When We Were Young (Live on SNL),31133653,319255,7203,0,11802,0.010254
3,Adele - When We Were Young (Live at The Church...,524832804,2556270,89529,0,79273,0.004871
4,Adele - Hello (Live at the NRJ Awards),88270861,824301,29253,0,42462,0.009338
5,Adele - Hello,2667763369,15511488,833661,0,888139,0.005814
6,Adele - Skyfall (Lyric Video),396335225,2140117,60347,0,92723,0.005400
7,Adele - Turning Tables (Live at The Royal Albe...,84158112,260692,8386,0,8872,0.003098
8,Adele - Set Fire To The Rain (Live at The Roya...,573527494,2448866,73783,0,95124,0.004270
9,Adele - Someone Like You (Official Music Video),1507059006,6762011,237770,0,305292,0.004487
10,Adele - Make You Feel My Love (Live on Letterman),51768515,180054,4623,0,7083,0.003478
11,Adele - Hometown Glory (Live on Letterman),4609358,21688,566,0,994,0.004705
12,Adele - Don't You Remember (Live at Largo),106422317,263792,8132,0,9177,0.002479
13,Adele - Someone Like You (Live at Largo),16007145,79022,2486,0,1742,0.004937
14,Adele - Adele's 21: The Inspiration - Part 3,1402811,4687,179,0,141,0.003341
15,Adele - Turning Tables (Live at Largo),19729441,51155,1207,0,3216,0.002593
16,Adele - Adele's 21: The Inspiration - Part 2,1681614,5022,224,0,191,0.002986
17,Adele - Adele's 21: The Inspiration - Part 1,1386054,4961,166,0,172,0.003579
18,Adele - Someone Like You (Live in Her Home),107400599,490188,10375,0,52174,0.004564
19,Adele - Rolling In The Deep (Live at Largo),4605228,36836,677,0,1653,0.007999
20,Adele - Rolling in the Deep (Official Music Vi...,1688720419,7148357,256154,0,363534,0.004233
21,Adele - Chasing Pavements,153141846,543251,15907,0,19996,0.003547
22,Adele - Hometown Glory,108480343,367564,10369,0,15900,0.003388

In [378]:
df[df['viewCount'] == df['viewCount'].max()]

,name,viewCount,likeCount,dislikeCount,favoriteCount,commentCount
4,Adele - Hello (Live at the NRJ Awards),88270861,824301,29253,0,42462

In [379]:
df[df['likeCount'] == df['likeCount'].max()]

,name,viewCount,likeCount,dislikeCount,favoriteCount,commentCount
4,Adele - Hello (Live at the NRJ Awards),88270861,824301,29253,0,42462

In [380]:
df[df['commentCount'] == df['commentCount'].max()]

,name,viewCount,likeCount,dislikeCount,favoriteCount,commentCount
11,Adele - Hometown Glory (Live on Letterman),4609358,21688,566,0,994

In [384]:
df['LikeToViewRatio'] = df['likeCount'].astype(float) / df['viewCount'].astype(float)

In [389]:
df['LikeToViewRatio']

0     0.006121
1     0.010881
2     0.010254
3     0.004871
4     0.009338
5     0.005814
6     0.005400
7     0.003098
8     0.004270
9     0.004487
10    0.003478
11    0.004705
12    0.002479
13    0.004937
14    0.003341
15    0.002593
16    0.002986
17    0.003579
18    0.004564
19    0.007999
20    0.004233
21    0.003547
22    0.003388
Name: LikeToViewRatio, dtype: float64

In [388]:
df[df['LikeToViewRatio'] == df['LikeToViewRatio'].max()]

,name,viewCount,likeCount,dislikeCount,favoriteCount,commentCount,LikeToViewRatio
1,Adele - When We Were Young - Live at The BRIT ...,45375477,493712,12692,0,14753,0.010881